<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="schema" value="dbo"/>
    <!-- schema to store the Container table where Identity values will be generated -->
    <add key="containerSchema" value="dbo"/>
    <!-- indicates where to to stop execution the parser sees an orphanned parent HL id or when the parser encounters a segment not in the specification for the transaction set -->
    <add key="ThrowExceptionOnSyntaxErrors" value="true"/>
    <!-- indicates the segments that will parsed out into their own table to accommodate searching of individual elements,  see http://x12parser.codeplex.com/wikipage?title=Transaction%20Set%20Configuration for transaction set specific configuration -->
    <add key="IndexedSegments" value="AMT, BHT, CLM, DMG, DSB, DTP, HI, HL, LIN, LQ, LX, MEA, N3, N4, NM1, NTE, PAT, PER, PRV, QTY, REF, SBR, SV1, SV2"/>
    <add key="ParseDirectory" value="C:\Temp\Inbound\"/>
    <add key="ParseSearchPattern" value="*.*"/>
    <!-- indicates a directory to move files after they have been parsed successfully -->
    <add key="ArchiveDirectory" value="c:\Temp\Archive\"/>
    <!-- indicates a directory to move files that have thrown an exception -->
    <add key="FailureDirectory" value="c:\Temp\Failures\"/>
    <!-- sql insert statements will buffer in memory and be flushed to the database when reaching this batch size -->
    <add key="SqlSegmentBatchSize" value="1000"/>
    <!-- indicates the Sql Data Type of dates (can specify datetime for older SQL versions)-->
    <add key="SqlDateType" value="date"/>
  </appSettings>
  <connectionStrings>
    <add name="X12" connectionString="Data Source=127.0.0.1;Initial Catalog=Test4;Integrated Security=True"/>
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="3">
      <listeners>
        <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime" initializeData="Error.log">
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>