<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="MaxBatchSize" value="10000000"/>
    <!-- indicates where to to stop execution the parser sees an orphanned parent HL id or when the parser encounters a segment not in the specification for the transaction set -->
    <add key="ThrowExceptionOnSyntaxErrors" value="true"/>

  </appSettings>
</configuration>
