--*
*.pdb
*.Cache
*.suo
*.FileListAbsolute.txt
#.gitignore
*.exe
*.manifest
*.cache
*.refresh
*/obj/Debug/*
*/obj/Release/*
*/bin/Release/*
*/bin/Debug/*
*/bin/*
*/Bin/*
*/obj/x86/*
*/bin/*
*/obj/*
*.user
+*
TestResults
#*.vsmdi
#Local.testsettings
#TraceAndTestImpact.testsettings
LastTrace.log
Bin/*
*.log
obj/*
bin/*
*/read.1.tlog
bin
obj
