<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AuthorInfoQualifier" value="00"/>
    <add key="AuthorInfo" value=""/>
    <add key="SecurityInfoQualifier" value="00"/>
    <add key="SecurityInfo" value=""/>
    <add key="InterchangeSenderIdQualifier" value="ZZ"/>
    <add key="InterchangeSenderId" value="MYIDHERE"/>
  </appSettings>
</configuration>