<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="schema" value="dbo"/>
    <add key="ThrowExceptionOnSyntaxErrors" value="true"/>
    <add key="IndexedSegments" value="NM1,N1,N3,N4,N9,REF,PER"/>
    <add key="ParseDirectory" value="C:\Projects\x12parser\trunk\tests\OopFactory.X12.Tests.Unit\Parsing\_SampleEdiFiles\INS"/>
    <add key="ParseSearchPattern" value="*.txt"/>
    <add key="ArchiveDirectory" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="X12" connectionString="Data Source=127.0.0.1;Initial Catalog=X12;Integrated Security=True"/>
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="3">
      <listeners>
        <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime" initializeData="Error.log" />          
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>