<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFile" value="Log.txt"/>
    <!-- indicates where to to stop execution the parser sees an orphanned parent HL id or when the parser encounters a segment not in the specification for the transaction set -->
    <add key="ThrowExceptionOnSyntaxErrors" value="false"/>
  </appSettings>
</configuration>